version: '3.8'

services:
  
  postgres:
    image: postgres:15-alpine
    container_name: cosmic_db
    restart: always
    environment:
      POSTGRES_USER: cosmic_user        
      POSTGRES_PASSWORD: cosmic_password 
      POSTGRES_DB: cosmic_watch_db      
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 

  
  backend:
    build: ./backend 
    container_name: cosmic_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - postgres 
    environment:
      
      DATABASE_URL: "postgresql://cosmic_user:cosmic_password@postgres:5432/cosmic_watch_db"
     
      NASA_API_KEY: "WNPkhdFsOd6iXQPXbufix0CCiBZ5IxBdv694hwRh" 

 
  frontend:
    build: ./frontend 
    container_name: cosmic_frontend
    restart: always
    ports:
      - "3000:80" 
    depends_on:
      - backend


volumes:
  postgres_data:
